<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-navbar>
        <button center-aligned ion-button (click)="goToHomePage()">Home</button>
    </ion-navbar>
  </ion-list>
</ion-content>
