<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Welcome to the shittest app ever.</h4>
  <p>
    Instead of spamming Lorem Ipsum , just choose some of the below.
  </p>

  <button ion-button block (click)="toDoApp()">To-do app</button>

</ion-content>
