// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.item-block {
  padding-left:0;
}

.ion-close {
   &:before {
     font-size:40px;
   }
}

ul.todo-list {
  padding-left:0;
  list-style:none;

  li {
    position:relative;
    padding-left:50px;
    min-height:36px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-bottom:10px;
  }

  button {
    position:absolute;
    left:0;
    top:0;
    margin:0;
  }
}
