<ion-header>
  <ion-navbar>
    <ion-title>To Do App!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>Type some stuffs you have to do</h5>

  <ion-item>
    <ion-label>Enter Todo</ion-label>
    <ion-input class="churka" [(ngModel)]="value" placeholder="enterToDo"></ion-input>
  </ion-item>

  <button class="add-item" ion-button block (click)="addItems()">Add to todo List</button>

  <ul class="todo-list">
    <li *ngFor="let item of items ; let i = index">
      {{item}}
      <button ion-button (click)="closeToDo(i)">
        <ion-icon name="close"></ion-icon>
      </button>
    </li>
  </ul>

</ion-content>
